[Unit]
Description=Palworld Dedicated Server by A1RM4X 0.4
Wants=network-online.target
After=network-online.target

[Service]
User=steam
Group=steam
Environment="templdpath=$LD_LIBRARY_PATH"
Environment="LD_LIBRARY_PATH=/home/steam/:$LD_LIBRARY_PATH"
Environment="SteamAppId=2394010"
ExecStartPre=/home/steam/palworld-update.sh
ExecStart=/home/steam/.steam/steam/steamapps/common/PalServer/PalServer.sh -useperfthreads -NoAsyncLoadingThread -UseMultithreadForDS > /dev/null
ExecStopPost=/home/steam/palworld-backup.sh
Restart=always
RuntimeMaxSec=4h
LimitCORE=0


[Install]
WantedBy=multi-user.target
